<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{%PRODUCT-NAME%}</title>
    <link rel="stylesheet" href="css/product.css" />
  </head>
  <body>
    <div class="container">
      <div class="content">
        <div class="home"><a href="/overview">&#8592;</a></div>
        <h1>{%PRODUCT-NAME%}</h1>
        <img src="{%PRODUCT-IMAGE%}" alt="" />
        <h4 class="brand">Brand: {%PRODUCT-BRAND%}</h4>
        <h4 class="warranty">Warranty: {%PRODUCT-WARRANTY%}</h4>
        <p>{%PRODUCT-DESCRIPTION%}</p>
        <h4 class="price">{%PRODUCT-PRICE%}$</h4>
      </div>
    </div>
  </body>
</html>
